body 	{
		background-color: lightgray;
		font-family: Arial, Helvetica, sans-serif;
		margin: auto;
		max-width: 500px;
	}
	.intro {
		background-color: lightgray;
		text-align: left;
	}
	.qoute {
		margin: auto;
		border: 1px solid white;
		background-color: lightgray;
  		padding: 10px;
  		text-align: center
  	}